@import "vars/overrides";

.LibraryCarousel__carouselPage {
  padding: 40px;
  margin-top: 10px;
  background: @background-color-base;
  border-radius: 3px;
  border: 1px solid lighten(@border-color-base, 5%);
}

.LibraryCarousel__dots.slick-dots {
  bottom: 25px;

  li {
    background: @border-color-base;
  }

  li > button {
    padding: 6px;
    background: @border-color-base;
  }

  li.slick-active > button {
    background: @primary-color;
  }

  li > button:hover {
    background: @primary-color;
  }
}