@import "vars/overrides";

.LibraryGrid {
  .am-grid-text {
    font-size: 12px !important;
  }

  .am-grid-null-item {
    background: @layout-body-background !important;
    border: none !important;

    &:after {
      content: none !important;
    }
  }
}

