.NotationControls {
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  padding: 18px;
}

.NotationControls--desktop__row2__controls {
 & > * {
   margin-left: 1em;
   margin-right: 1em;
 }

  i {
    font-size: 2.5em;
    font-weight: 100; 
    cursor: pointer;
  }
}