@import "overrides";

@content-title-height: 50px;

.Library--mobile {
  margin-bottom: 55px;
}

.Library--mobile__header__logo {
  margin-top: 10px;
}

.Library--mobile__header {
  width: 100%;
  text-align: center;
}

.Library--mobile__tag {
  background: @layout-body-background;
  height: @content-title-height;
  box-sizing: border-box;
  content: '';
}

.Library--mobile__tag__title {
  text-align: center;
  z-index: 11;
  background: white;
  height: @content-title-height;
  line-height: @content-title-height;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
  box-sizing: border-box;
}

.LibraryGrid {
  border-right: 1px solid white;

  .am-grid-text {
    font-size: 12px !important;
  }

  .am-grid-item-content {
    padding: 0 !important;
  }

  .am-grid-null-item {
    background: @layout-body-background !important;
    border: none !important;
  }

  .am-grid-null-item:after {
    content: none !important;
  }

  .am-grid-item-content {
    background: @layout-body-background;
  }
  
  .am-grid-item-content .LibraryGridItem {
    border-left: 1px solid white;
  }
}

.LibraryGridItem {
  border-top: 1px solid white;
}

.LibraryGridItem__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.LibraryGridItem__imgContainer__img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}
