@import "vars/overrides";

.VideoControls {
  padding: 3px 10px;
  background: black;
  color: white;

  .ant-slider-handle {
    border-color: @primary-color;
    margin-left: -13px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
  }

  .ant-slider-track {
    background: @primary-color;
  }
}

.VideoControls__grannular {
  font-size: 14px;
  line-height: 20px;
  
  i {
    cursor: pointer;
    font-size: 18px;
    transition: color 100ms @ease-in;
  }

  i:hover {
    color: #ddd;
  }
}

.VideoControls__playbackRate {
  cursor: pointer;
}