@import "vars/overrides";

.Marker--transition {
  transition: opacity 150ms @ease-in;
  transition: background-color 100ms @ease-in;
}

.Marker {
  display: block;
  z-index: 10;
  width: 16px;
  height: 16px;
  background-color: none;
  border-radius: 50%;
  margin: 3px 1px;
  cursor: pointer;
  .Marker--transition
}

.Marker--lit {
  background-color: yellow;
  opacity: 0.1;
  .Marker--transition
}

.Marker--hidden {
  opacity: 0;
  .Marker--transition
}

.Marker--pressed {
  background-color: #5FF72D;
  opacity: 1;
  .Marker--transition
}