.Marker {
  display: block;
  z-index: 10;
  width: 15px;
  height: 15px;
  background-color: lightyellow;
  border-radius: 50%;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Marker--hidden {
  opacity: 0;
}