.NotationShow__panel {
  border-bottom: none !important;

  .ant-collapse-content {
    padding: 0 !important;
    border-top: 0 !important;
    border-radius: 0 !important;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-collapse-header i {
    display: none !important;
  }
}

.NotationShow__controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;

  .ant-collapse {
    border: none !important;
    border-radius: 0 !important;
  }
}