@import "vars/overrides";

.TabControls i {
  font-size: 24px;
}

.TabControls__nav {
  padding: 20px 0;
  color: white;
  background: black;
  cursor: pointer;

  i {
    font-size: 22px;
    font-weight: 700;
  }
}