@import "vars/overrides";

.TabControls {
  background: black;
}

.TabControls__nav,
.TabControls__fretboard {
  padding: 20px 0;
  color: white;
  cursor: pointer;
  transition: color 100ms @ease-in;

  i {
    font-size: 22px;
  }
}

.TabControls__nav:active {
  color: #aaa;
}

.TabControls__fretboard--toggled {
  color: @primary-color;
}