@import "overrides";

.GuitarStrings {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.GuitarString {
  width: 100vw;
  background: #aaa;
  opacity: 0.4;
}

.GuitarString--hidden {
  transition: all 200ms @ease-in;
}

.GuitarString--thin {
  height: 1px;
}

.GuitarString--thick {
  height: 2px;
}

.GuitarString--pressed {
  box-shadow: 0 0 15px 2px red;
}
