@import "~styles/vars/defaults";

.Logo {
  height: 24px;
  line-height: 24px;
  color: #333;

  &:hover,
  &:active {
    color: #333;
  }

  &:focus {
    text-decoration: none;
  }
}

.Logo__icon {
  font-size: 24px;
  font-weight: 100;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid $border-color-base;
}

.Logo__name {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 3px;
}