.Library--mobile__header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 999;
  width: 100vw;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.Library--mobile__header__logo {
  text-align: center;
  margin: 1em 0;
}