@import "vars/overrides";

.LibraryGridItem__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: lime !important;
}

.LibraryGridItem__imgContainer__img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.01;

  &.LibraryGridItem__imgContainer__img--active {
    opacity: 1;
    transition: opacity .25s @ease-in;
    -moz-transition: opacity .25s @ease-in;
    -webkit-transition: opacity .25s @ease-in;
  }
}

